<header>
    <nav class="navbar navbar-expand-lg navbar-light d-block fixed-top bg-white" style="z-index: 2000">
        <div class="container-fluid">
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarExample01"
                    aria-controls="navbarExample01"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="{% url 'post:index' %}">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex flex-row">
                    {% for c in category %}
                    {% if c.submenu|length > 0 %}

                    <li class="nav-item me-3 me-lg-0 dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown-{{c.id}}"
                           role="button"
                           data-mdb-toggle="dropdown"
                           aria-expanded="false">
                            {{c.name}}
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown-{{c.id}}">
                            {% for sub in c.submenu %}
                            <li>
                                <a class="dropdown-item" href="{% url 'post:category' sub.slug %}">{{sub.name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>

                    {%else%}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post:category' c.slug %}">
                            {{c.name}}
                        </a>
                    </li>
                    {% endif %}

                    {% endfor %}


                    <!--                    <a class="nav-link" href="" rel="nofollow" target="_blank">-->
                    <!--                        <i class="fab fa-github"></i>-->
                    <!--                    </a>-->
                </ul>
            </div>
        </div>
    </nav>
</header>